.child-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.child-list img {
    margin: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.child-list img:hover {
    border-color: #007bff;
}