html {
    font-family: Arial, Helvetica, sans-serif;
}

.parentView {
    display: flex;
}

.childBar {
    flex: 25%;
}

.childSection {

}

.scoresView {
    flex: 1;
}

.scoresSection {

}

.profileView {

}

.referralView {

}

.referralSection {

}

