/* Child's scores styling, setting up a 2x2 grid to display results. */
.scoresView {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: auto;
    width: 450px;
    height: 450px;
}

.scoresContainer {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}

.scoresView h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.scoresView h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.scoresSection {
    background-color: rgb(102, 102, 102);
    padding: 20px;
}

.scoresSection p {
    margin: 5px 0;
}

.scoresSection p:last-child {
    cursor: pointer;
    color: #007bff;
}

.scoresSection p:last-child:hover {
    text-decoration: underline;
}
